:root {
	--primary-light: #FFFFFF;
	--secondary-light: #E0E1DD;
	--tertiary-light: #778DA9;

	--primary-dark: #415A77;
	--secondary-dark: #1B263B;
	--tertiary-dark: #0D1B2A;

	--error-bg: #FDD;
	--error-fg: #C04;
	--warning-bg: #FED;
	--warning-fg: #A60;
	--success-bg: #EFE;
	--success-fg: #284;

	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*:before,
*:after {
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html {
	height: 100vh;
	width: 100vw;
}

body {
	height: 100%;
	width: 100%;
}

button,
select,
input {
	border: 1px solid black;
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	text-align: center;
}

button {
	background: var(--primary-dark);
	color: white;
	box-shadow: 0 2px black;

	width: fit-content;
	margin: auto;
}

button:hover {
	background: var(--secondary-dark);
}

button:active {
	background: var(--primary-dark);
	box-shadow: 0 1px black;
}

form {
	background: var(--secondary-light);
	border-radius: 1em;
	width: 100%;
	max-width: 720px;
}

a:hover {
	text-decoration: underline;
}

.icon {
	max-height: 3em;
	max-width: 3em;
}

.view {
	width: 100%;
	height: 100%;
}

.c-text {
	text-align: center;
}

.flex {
	display: flex;
}

.col {
	flex-direction: column;
}

.center {
	justify-content: center;
}

.middle {
	align-items: center;
}

.gap {
	gap: 0.5em;
}

.l-gap {
	gap: 1em;
}

.xl-gap {
	gap: 2em;
}

.pad {
	padding: 0.5em;
}

.l-pad {
	padding: 1em;
}

.xl-pad {
	padding: 2em;
}

/* CUSTOM TABLES */

table {
	border-collapse: collapse;
}

td,
th {
	border: 1px solid var(--secondary-light);
	padding: 8px;
}

tr:nth-child(even) td,
tr:nth-child(even) td {
	border: 1px solid var(--primary-light);
}

tr:nth-child(even) {
	background: var(--secondary-light);
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background: var(--primary-dark);
	color: white;
}

.vehicle-selector:hover {
	text-shadow: 0 0 1px black;
}

/* CUSTOM INPUTS */

input[name="regNumber"] {
	width: 100%;
	max-width: 15em;
}

input[name="description"] {
	width: 100%;
}

/* CUSTOM MESSAGES */

.message {
	border-radius: 0.5em;
	box-shadow: 0 0 0 1px;

	height: fit-content;
	width: fit-content;
	max-width: 100%;
	padding: 0.5em 1em;
	text-align: center;
	margin: auto;
}


.message.error {
	background: var(--error-bg);
	color: var(--error-fg);
	box-shadow: 0 0 0 1px var(--error-fg);
}

.message.success {
	background: var(--success-bg);
	color: var(--success-fg);
	box-shadow: 0 0 0 1px var(--success-fg);
}

/* FUNCTIONALITY */

.hidden {
	display: none;
}